foxbot
foxbot.conf
.deps
depcomp
aclocal.m4
autom4te.cache
autoscan.log
configure
configure.scan
Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config_lexer.c
config_lexer.h
config_parser.c
config_parser.h
config_parser.tab.c
config_parser.tab.h
install-sh
missing
stamp-h1
ylwrap
*.in~
*.o
