foxbot.conf
src/config_lexer.c
src/config_lexer.h
src/config_parser.c
src/config_parser.h
src/foxbot

*.[ao]
*.in
*.tab.[ch]
*~
\#*#
.#*
.deps
aclocal.m4
ar-lib
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
Makefile
missing
stamp-h1
ylwrap
