bot/foxbot
bot/foxbot.conf

ircd/foxbot

src/foxbot.conf
src/config_lexer.c
src/config_lexer.h
src/config_parser.c
src/config_parser.h
src/foxbot

libltdl/
libtool
ltmain.sh

m4/

build-aux/

*.[ao]
*.la
*.libs/
*.lo
*.in
*.tab.[ch]
*~
\#*#
.#*
.deps
aclocal.m4
ar-lib
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
Makefile
missing
test-driver
stamp-h1
ylwrap

tests/*.log
tests/check_foxbot
tests/*.trs
tests/units/.dirstamp
